<!doctype html>
{% extends "todo_lists/base.html" %}

{% block wiki %}
    <div>
        <div class="maintop">
        <p>Wiki page</p>
        </div>
    </div>
    <div>
        <h2>Company projects</h2>
        <p>Myer website improvement. <a href="http://127.0.0.1:8000/manager/readwiki1">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki1">Click here to download</a>  <a href="https://www.myer.com.au/">   Reference</a></p>
        <p>JB HIFI online stock system.  <a href="http://127.0.0.1:8000/manager/readwiki2">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki2">Click here to download</a>  <a href="https://www.jbhifi.com.au/">   Reference</a></p>
        <p>David jones online payment system.  <a href="http://127.0.0.1:8000/manager/readwiki3">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki3">Click here to download</a>  <a href="https://www.davidjones.com/">   Reference</a></p>
        <p>Cotton on in-store employee managing system.  <a href="http://127.0.0.1:8000/manager/readwiki4">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki4">Click here to download</a>  <a href="https://cottonon.com/">   Reference</a></p>
        <h2>General company protocols</h2>
        <p>Workplace health and safety policy.  <a href="http://127.0.0.1:8000/manager/readwiki5">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki5">Click here to download</a>  <a href="https://resources.workable.com/workplace-health-and-safety-company-policy">   Reference</a></p>
        <p>Equal opportunity policy.  <a href="http://127.0.0.1:8000/manager/readwiki6">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki6">Click here to download</a>  <a href="https://resources.workable.com/equal-opportunity-company-policy">   Reference</a></p>
        <p>Employee Code of Conduct Policy.  <a href="http://127.0.0.1:8000/manager/readwiki7">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki7">Click here to download</a>  <a href="https://resources.workable.com/employee-code-of-conduct-company-policy">   Reference</a></p>
        <p>Leave of Absence Policy.  <a href="http://127.0.0.1:8000/manager/readwiki8">Click here to read.</a> <a href="http://127.0.0.1:8000/manager/wiki8">Click here to download</a>  <a href="https://resources.workable.com/sick-leave-company-policy">   Reference</a></p>


    </div>
  
  
{% endblock %}
    

